{% extends 'base.html.twig' %}

{% block title %}Access Brand{% endblock %}

{% block body %}
<div class="simpleContainer">
    <h2>Access Brand</h2>

    <p>Give access to a member by sending an email.</p>

    {{ include('brand/_form.html.twig', {'button_label': 'Send'}) }}
</div>

<div class="simpleContainer">
    <div class="buttonTitle">
        <h2>Edit Brand</h2>
        <a class="cta" href="{{ path('brand_access_edit', {'id': brand.id}) }}">Edit</a>
    </div>
</div>
{% endblock %}
