{% extends 'base.html.twig' %}

{% block title %}Access Brand{% endblock %}

{% block body %}
    <h1>Access Brand</h1>

    <p>Give access to a member by sending an email.</p>

    {{ include('brand/_form.html.twig', {'button_label': 'Send'}) }}

    <a href="{{ path('brand_access_edit', {'id': brand.id}) }}">Edit</a>
{% endblock %}
