{% extends 'base.html.twig' %}

{% block title %}Reports{% endblock %}

{% block body %}
<h1>Report</h1>

<div class="multipleContainer">
    {% if product_id %}
        {% if sessions %}
            {% for session in sessions %}
                <div class="simpleContainer">
                    <div class="buttonTitle">
                        <h2>Session {{ session }}</h2>
                        <a class="cta" href="{{ path('report_product', {'id': product_id, 'session': session }) }}">Show</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="simpleContainer">No session found.</div>
        {% endif %}
    {% endif %}
</div>

{% if product_id %}
    {% if zonedRecords is defined and zonedRecords is not null %}
        {% for chart in charts %}
            <div class="simpleContainer">
                <h2>{% if loop.index % 2 == 1 %}Avant{% else %}Après{% endif %}</h2>
                <div class="multipleContainer graphContainer">
                    {% for insideChart in chart %}
                        <div class="simpleContainer">
                            {{ render_chart(insideChart) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No record found.</p>
    {% endif %}
{% endif %}

{% endblock %}