{% extends 'base.html.twig' %}

{% block title %}Reports{% endblock %}

{% block body %}
<h1>Report</h1>

<div class="multipleContainer">
    {% if product_id is defined %}
        {% if sessions is defined %}
            {% for session in sessions %}
                <div class="simpleContainer">
                    <div class="buttonTitle">
                        <h2>Session {{ session }}</h2>
                        <a class="cta" href="{{ path('report_product', {'id': product_id, 'session': session }) }}">Show</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="simpleContainer">No session found.</div>
        {% endif %}
    {% endif %}
</div>


{% if product_id is defined %}
    {% if zonedRecords is defined and zonedRecords is not null %}
        <div id="exportableHTML">
        {% for chart in charts %}
            <div class="simpleContainer">
                <h2>{% if loop.index % 2 == 1 %}Avant{% else %}Après{% endif %}</h2>
                <div class="multipleContainer graphContainer">
                    {% for insideChart in chart %}
                        <div class="simpleContainer">
                            {{ render_chart(insideChart) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
        <button type="button" class="btn" id="export">export to PDF</button>
    {% else %}
        <p>No record found.</p>
    {% endif %}
{% endif %}

{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script defer type="text/javascript">
    const pdfBtn = document.getElementById('export');
    window.jsPDF = window.jspdf.jsPDF;
    pdfBtn.addEventListener('click', (e) => {
        let pdf = new jsPDF({
            orientation: 'landscape',
            unit: 'px',
            format: 'a4',
            compress: true,
        });
        const canvas = document.querySelectorAll("canvas");
        let pageWidth = 400; 
        let pageHeight = 400;
        let index = 1;
        canvas.forEach((canva) => {
            pdf.addImage(canva, 'PNG', 10, 10, pageWidth, pageHeight, `img${index}`, "FAST");
            if (index < canvas.length) {
                pdf.addPage();
            }
            index++;
        })
    
        pdf.save('Report.pdf');

        // download the pdf
    });
</script>
{% endblock %}