{% extends 'base.html.twig' %}

{% block title %}Reports{% endblock %}

{% block body %}
<div class="buttonTitle">
    <h1>Products results</h1>

    <a class="cta" href="{{ path('app_product_new') }}">Add a product</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Label</th>
            <th>Results</th>
        </tr>
    </thead>
    <tbody>
    {% if products %}
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.label }}</td>
                <td>
                    <a class="cta" href="{{ path('report_product', {'id': product.id}) }}">Results</a>
                </td>
            </tr>
            <tr class="emptyRow"></tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}
