{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="simpleContainer multipleContainer">
    {% for data in simpleData %}
        <div class="simpleContainer">
            <h2>{{ data.label }}</h2>
            <p class="statIndicator">{{ data.value }}</p>
        </div>
    {% endfor %}
</div>

<div class="multipleContainer">
    {% if product is not null and product.id %}
        <div class="simpleContainer">
            <h2>Last test</h2>

            <div style="display: flex;">
                {% for session in availableSessions %}
                    <a class="cta" style="margin: auto;" href="{{ path('report_product', {'id': product.id, 'session': session }) }}">Session {{ loop.index }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
