{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div class="multipleContainer">
    <div class="simpleContainer">
        <h2>Chart 1</h2>
    </div>

    <div class="simpleContainer">
        <h2>Chart 2</h2>
    </div>
</div>
<div class="simpleContainer">
    <h2>Chart 3</h2>
</div>
{% endblock %}
